<h2>Por Region</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <!-- <shared-searchbox placeholder="Busqueda por Capital" (onDebounce)="searchRegion($event)"></shared-searchbox> -->
    <button *ngFor="let region of regions" class="btn mx-2" (click)="searchRegion(region)"
      [ngClass]="{'btn-outline-primary': region === selectedRegion}">
      {{region}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>
